html,
body {
    min-height: 100%;
    background-color: rgb(18, 63, 30);
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;

}

body {
    min-width: 360px;
    padding-bottom: 50px;
    background-image: url("../images/FloorCarpet.jpg");
    background-size: 200px;
    background-repeat: repeat-y repeat-x;

}

.container {
    width: 100%;
    
}

.subjectList {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    width: 100%;

}

.subjectList-block1 {

    width: calc(100% - 163.5px )

}

.form-group {
    display: flex;
    margin-bottom: 5px;
}

#searcher {
    display: inline-block;
    height: 35px;
    padding: 3px;
    border: 0;
    font: bolder;
    font-size: 10pt;
}

.addSubject {
    display: inline-block;
    width: 35%;
    height: 35px;
    background-color: rgb(0, 0, 0);
    border: 0;
    padding: 3px;
    font-size: 10pt;
    border-radius: 5px;
}


.selectedSubjects {
    /* background-color: white; */
    width: 100%;
    height: calc(30vh - 40px);
    overflow: auto;
    font-size: 8pt;
    color: white;

}

.newSubject {
    font-size: 10pt;
    background-color: rgb(0, 0, 0);
    padding: 6px;
    border-radius: 5px;
    font-size: 10pt;
    overflow-wrap: break-word;
    margin: 0px;


}

.cassinoToken {
    height: 35px;
    margin: 10px;
    filter: drop-shadow(5px 5px 5px black);

}

.cassinoToken:hover {
    filter: drop-shadow(5px 5px 5px rgb(138, 148, 90));
}

.subjectList-block2 {

    margin-left: 15px;

}

#pokerMaze {
    height: 30vh;
    filter: drop-shadow(5px 5px 5px black);

}

.pokerPad {
    position: relative;
    display: flex;
    justify-content: center;
}

.cardsContainer {
    width: 100vw;
    display: flex;
    margin-top: 15px;
    padding: 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url("../images/PokerCarpet.jpg");
    background-size: 1036px;
    background-repeat: repeat-y repeat-x;
    border: 8px solid rgb(43, 40, 26);
    border-radius: 10px;
    filter: drop-shadow(15px 5px 5px black);

}

.cardSlot {
    position: relative;
}

.tableCards {
    width: 240px;
    /* filter: drop-shadow(5px 5px 5px black); */
    margin: 15px 10px;
    z-index: 0;

}

#slot1 {
    transform: rotate(5deg);
    visibility: hidden;
    left: -50px;

}

#slot2 {
    transform: rotate(-15deg);
    visibility: hidden;
    left: -200px;
}

#slot3 {
    transform: rotate(8deg);
    visibility: hidden;
    left: -350px;

}

#slot4 {
    transform: rotate(3deg);
    visibility: hidden;
    left: -500px;
}

.gifImages {
    width: 240px;
    max-height: 155px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#powerBy {
    height: 75px;
    width: 160px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}




@media screen and (max-width: 1150px) {

    .tableCards {
        width: 200px;

    }

    .gifImages {
        width: 200px;
        max-height: 130px;

    }

}

@media screen and (max-width: 1000px) {

    .tableCards {
        width: 175px;

    }

    .gifImages {
        width: 175px;
        max-height: 105px;

    }

}

@media screen and (max-width: 900px) {

    .tableCards {
        width: 160px;

    }

    .gifImages {
        width: 160px;
        max-height: 90px;

    }

}

@media screen and (max-width: 800px) {


    .cardsContainer {
        width: 570px;

    }

}

@media screen and (max-width: 600px) {

    .cardsContainer {
        width: 100%;

    }



}

@media screen and (max-width: 450px) {

    .addSubject {
        min-width: 64px;
    }

    .subjectList-block1 {

        width: calc(100% - 138.75px )
    
    }

    #pokerMaze {
        height: 25vh;

    }

    .cardsContainer {
        width: 330px;

    }

    .selectedSubjects {
        height: calc(25vh - 40px);

    }


}